<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2020 PurS3 Lab. Site inspired from <a href="https://www.allanlab.org/">Allen Labs</a>;  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">copy and  modify it for your own research group.</a></p>
              <p>We are part of the <a href="https://engineering.purdue.edu/ECE">Electrical and Computer Engineering Department</a> at <a href="https://www.purdue.edu/">Purdue University</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  <ul>
		  <li><a href="https://www.darpa.mil/program/assured-micropatching">DARPA</a></li>
		  <li><a href="https://www.rolls-royce.com/media/press-releases/2021/09-08-2021-rr-north-america-to-join-research-effort-in-new-hypersonics-test-facility.aspx">Rolls-Royce Holdings</a></li>
		  </ul>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  EE 333<br />
		  School of Electrical and Computer Engineering <br />
		  465 Northwestern Ave.<br />
		  West Lafayette, IN, USA <br />
            (<a href="https://www.google.com/maps/dir//School+of+Electrical+and+Computer+Engineering,+Electrical+Engineering+Building,+465,+Northwestern+Ave,+West+Lafayette,+IN+47907/@40.428876,-86.9139589,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x8812e2ad7be8a7d1:0xfdba4706f0ea67bc!2m2!1d-86.9117702!2d40.428876!3e0">Maps</a>, <a href="https://www.purdue.edu/campus-map/?_ga=2.252283406.604799754.1607395328-1388710714.1587328749">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
